<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}"/>
    <div th:each="el : ${authors}" class="alert alert-info mt-2">
        <h3 th:text="${el.AuthorName}"/>
        <img th:src="@{/img/{filename}(filename = ${el.filename})}" width="200" height="200"><br><br>
        <p th:text="${el.AuthorDetails}"/>

        <a th:href="'/author/' + ${el.id}" class="btn btn-warning">View</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>