<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Collection</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1> Add author</h1>
  <form action="/author/add" method="post" enctype="multipart/form-data">
    <input type="text" name="AuthorName" placeholder="enter name" class="form-control"><br>
    <input type="text" name="AuthorCountry" placeholder="enter author country" class="form-control"><br>
    <input type="text" name="AuthorDetails" placeholder="enter author details" class="form-control"><br>
    <input type="file" name="file" class="form-control"><br>
    <button type="submit" class="btn btn-success">Add author</button>
  </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>